// Insert your variables
$thegreen : #51c285;
$greenBG:#e7ecea;
$green:#2CC185;
$marginS:15px 0;
$marginLRS:0px 15px;
$marginM:25px 0;
$roundcorner: 10px;
$paddingTopBottomM:25px 0;
$paddingTopBottomS:5px 0;
$paddingLRM:0 25px;
$hover:#2199e8;
// Insert your variables
